/* custom styles can go here */

#chapter-foo p {
	text-transform: uppercase;
}

.reveal h1 {
	font-size: 64px;
}

.reveal h2 {
	font-size: 48px;
}

.reveal h3 {
	font-size: 42px;
}

.reveal h1, .reveal h2, .reveal h3 {
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

.reveal {
	color: black; /* empover contrast over solarized */
}

.reveal .slides {
	text-align: justify;
}
